/* 
style   ID    Classes, atributos e pseudo-classes  Elementos e pseudo-elementos
 1       1       0                                     0
 0       0       1                                     0
 0       1       1                                     0
 0       2       1                                     1 
 0       2       1                                     2  
 0       2       2                                     2
!important
 */

/* 
 especificidade
 empate
 style
 !important ******
 */

/* 
#p {
    background: red;
}

.p {
    background: yellow;
}

#p.p {
    background: yellowgreen;
}

#b p#p.p {
    background: blue;
}

body#b p#p.p {
    background: purple;
}

body#b.bclass p#p.p {
    background: orange;
} */
/* 
.texto {
    box-sizing: border-box;
    background: red;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 500px;
    min-width: 0;               Aprendendo sobre
    min-height: 100px;          formatação no CSS
    overflow-y: auto;
    margin: 0 auto 50px auto;
    padding: 10px 5px;
    border: 5px solid black;
    border-width: 5px;
    border-style: solid;
    border-color: aquamarine;
} */