/* 
style   ID    Classes, atributos e pseudo-classes  Elementos e pseudo-elementos
 1       1       0                                     0
 0       0       1                                     0
 0       1       1                                     0
 0       2       1                                     1 
 0       2       1                                     2  
 0       2       2                                     2
!important
 */

 /* 
 especificidade
 empate
 style
 !important ******
 */


#p {
    background: red;
}

.p {
    background: yellow;
}

#p.p {
    background: yellowgreen;
}

#b p#p.p {
    background: blue;
}

body#b p#p.p {
    background: purple;
}

body#b.bclass p#p.p {
    background: orange;
}