body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-image: url('assets/trajeto.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#texto {
    text-align: center;
    padding: 0.2rem;
    border: 5px solid rgba(201, 102, 102, 0.6);
    background: rgba(129, 86, 86, 0.8);
    border-style: solid;
    border-radius: 15px;

}

input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 13px;
}

button {
    padding: 10px 20px;
    background-color: #681be3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #002d4a;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

#historicoSection {
    display: none;
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #eee;
}

#listaHistorico {
    list-style: none;
    padding: 0;
    width: 100%;
}

#listaHistorico li {
    justify-content: space-between;
    background: #f9f9f9;
    padding: 8px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 0.9em;
}

#listaHistorico button {
    background: #ff4d4d;
    padding: 2px 8px;
    font-size: 0.8em;
}

#btnLimpar {
    margin-top: 15px;
    background-color: #161616;
    color: #fffefe;
    border: 1px solid #ccc;
    border-radius: 10rem;
    font-size: 12px;
    width: 50%;
}

#btnLimpar:hover {
    background-color: #681be3;
    color: #0e0d0d;
}

.encomenda-bottom {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    bottom: 0;
    z-index: -1;
    animation: suave 1s ease-out 0.3s backwards;
}

.encomenda-bottom img {
    width: 100%;
    max-width: 2000px;
    height: auto;
    opacity: 0.8;
}

@keyframes suave {
    from {
        opacity: 0;
        transform: translateY(30px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);   
}}

@keyframes tremer {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.classe-erro {
    border: 2px solid #ff4d4d !important;
    animation: tremer 0.3s linear;
}

@media screen and (max-width: 768px) {
  .body {
    background-image: url(assets/trajeto.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }
}
